


<h2 style="text-align:center">Kullanıcı Ekleme Sayfası</h2>

<form method="post" action="/user/AddUser">

    <label for="name">Kullanıcı Adı:</label><br />
    <input type="text" id="name" name="firstName" /><br />
    <label for="lastname">Kullanıcı Soyadı:</label><br />
    <input type="text" id="lastname" name="lastName" /><br />
    <input type="submit" value="Kullanıcı Ekle" />
</form>